<section class="cv">
  <h2 class="visually-hidden">My CV</h2>
  <div class="cv__wrapper">
    <h3 class="cv__name">Victoria Eremeeva</h3>
    <div class="cv__photo-wrapper">
      <img src="../../assets/img/CV_Okrag_Male.png" class="cv__photo">
    </div>
    <div class="cv__section cv__section--general">
      <div class="cv__section-item cv-item">
        <h5 class="cv-item__title">Birth date</h5>
        <p class="cv-item__data">October 5th, 1994</p>
      </div>
      <div class="cv__section-item cv-item">
        <h5 class="cv-item__title">Address</h5>
        <p class="cv-item__data">Cracow, Poland</p>
      </div>
      <div class="cv__section-item cv-item">
        <h5 class="cv-item__title">Work permit</h5>
        <ul class="work-permit__list">
          <li class="cv__data work-permit__item">Poland</li>
          <li class="cv__data work-permit__item">Russia</li>
        </ul>
      </div>
    </div>
    <div class="cv__section cv__section--expandable">
      <h4 class="cv__section-title cv__section-title--desktop">
        <span class="cv__title-span">Hard skills</span>
      </h4>
      <h4 (click)="toggleData($event)" class="cv__section-title cv__section-title--mobile">
        <span class="cv__title-span">Hard skills</span>
        <span class="cv__section-arrow"><fa-icon [icon]="faCaretRight"></fa-icon></span>
      </h4>
      <div class="cv__section-item cv-item cv-item--toggle">
        <div class="cv-item__data cv-skills">
          <ul class="cv-skills__list">
            <li class="cv-skills__skill" *ngFor="let skill of hardSkills">{{skill}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="cv__section cv__section--expandable">
      <h4 class="cv__section-title cv__section-title--desktop">
        <span class="cv__title-span">Soft skills</span>
      </h4>
      <h4 (click)="toggleData($event)" class="cv__section-title cv__section-title--mobile">
        <span class="cv__title-span">Soft skills</span>
        <span class="cv__section-arrow"><fa-icon [icon]="faCaretRight"></fa-icon></span>
      </h4>
      <div class="cv__section-item cv-item cv-item--toggle">
        <div class="cv-item__data cv-skills">
          <ul class="cv-skills__list">
            <li class="cv-skills__skill" *ngFor="let skill of softSkills">{{skill}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="cv__section cv__section--expandable">
      <h4 class="cv__section-title cv__section-title--desktop">
        <span class="cv__title-span">Contacts</span>
      </h4>
      <h4 (click)="toggleData($event)" class="cv__section-title cv__section-title--mobile">
        <span class="cv__title-span">Contacts</span>
        <span class="cv__section-arrow"><fa-icon [icon]="faCaretRight"></fa-icon></span>
      </h4>
      <div class="cv__section-item cv-item cv-item--toggle">
        <div class="cv-item__data">
          <span><fa-icon [icon]="faPhoneAlt"></fa-icon></span>
          <a class="cv__data cv__phone" href="tel:+48790610316">+48 790 610 316</a>
        </div>
        <div class="cv-item__data">
          <span><fa-icon [icon]="faEnvelopeOpen"></fa-icon></span>
          <a class="cv__data cv__email" href="mailto:evictoria@protonmail.com">evictoria@protonmail.com</a>        </div>
      </div>
    </div>
    <div class="cv__section cv__section--expandable">
      <h4 class="cv__section-title cv__section-title--desktop">
        <span class="cv__title-span">Education</span>
      </h4>
      <h4 (click)="toggleData($event)" class="cv__section-title cv__section-title--mobile">
        <span class="cv__title-span">Education</span>
        <span class="cv__section-arrow"><fa-icon [icon]="faCaretRight"></fa-icon></span>
      </h4>
      <div class="cv__section-item cv-item cv-item--toggle">
        <div class="cv-item__data cv-education">
          <p class="cv-education__year">2015</p>
          <div class="cv-education__info">
            <p class="cv-education__school">Peter the Great St.Petersburg Polytechnic University</p>
            <p class="cv-education__specialty">Linguistics, Theory and methods of foreign language and culture teaching</p>
          </div>
        </div>
      </div>
    </div>
    <div class="cv__section cv__section--expandable">
      <h4 class="cv__section-title cv__section-title--desktop">
        <span class="cv__title-span">Job experience</span>
      </h4>
      <h4 (click)="toggleData($event)" class="cv__section-title cv__section-title--mobile">
        <span class="cv__title-span">Job experience</span>
        <span class="cv__section-arrow"><fa-icon [icon]="faCaretRight"></fa-icon></span>
      </h4>
      <div class="cv__section-item cv-item cv-item--toggle">
        <div class="cv-item__data cv-work">
          <p class="cv-work__year">December 2016 - June 2017</p>
          <div class="cv-work__info">
            <p class="cv-work__company">Gamma College</p>
            <p class="cv-work__title">English teacher assistant</p>
            <p class="cv-work__decription">"First job right after I moved to Poland and right before I started learning
              for a new job as a programmer.<br/>Helped English teachers with preparing for lessons, maintaining
              comfortable learning atmosphere in a classroom, helped students with their tasks. Also substituted
              teachers and provided lessons for groups of children (age 5 - 10)."</p>
          </div>
        </div>
        <div class="cv-item__data cv-work">
          <p class="cv-work__year">October 2013 — October 2016</p>
          <div class="cv-work__info">
            <p class="cv-work__company">Freelance</p>
            <p class="cv-work__title">English tutor for kids</p>
            <p class="cv-work__decription">"Worked with kids from age 6 to 14, helped them with homework, exam
              preparations and additional school materials. Developed my own learning materials for kids to study."</p>
          </div>
        </div>
        <div class="cv-item__data cv-work">
          <p class="cv-work__year">September 2015 — May 2016</p>
          <div class="cv-work__info">
            <p class="cv-work__company">Poliglotiki english center</p>
            <p class="cv-work__title">English teacher</p>
            <p class="cv-work__decription">"Worked with kids from age 5 to 9, provided them with knowledge that would
              be helpful for them in school as well as some additional materials.<br/>Substituted english teachers in
              kindergarden for kids 2 - 6 years old."</p>
          </div>
        </div>
      </div>
    </div>
    <div class="cv__section cv__section--expandable">
      <h4 class="cv__section-title cv__section-title--desktop">
        <span class="cv__title-span">Courses</span>
      </h4>
      <h4 (click)="toggleData($event)" class="cv__section-title cv__section-title--mobile">
        <span class="cv__title-span">Courses</span>
        <span class="cv__section-arrow"><fa-icon [icon]="faCaretRight"></fa-icon></span>
      </h4>
      <div class="cv__section-item cv-item cv-item--toggle">
        <div class="cv-item__data cv-courses">
          <p class="cv-courses__year">June 2019 - June 2020</p>
          <div class="cv-courses__info">
            <p class="cv-courses__school">Codecool</p>
            <p class="cv-courses__specialty">Programming basics in python, java. Advanced knowledge in Frontend
              technologies(Html/css, Javascript, Angular, etc)</p>
          </div>
        </div>
        <div class="cv-item__data cv-courses">
          <p class="cv-courses__year">2017</p>
          <div class="cv-courses__info">
            <p class="cv-courses__school">Html academy</p>
            <p class="cv-courses__specialty">Advanced html&css.<br/>During this courses, among other skills, learned
              about gulp, sass, responsive and adaptive frontend development.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
