@import "../../assets/styles/variables";

@media (min-width:320px) {
  .cv {
    padding: 2em 0;
  }

  .cv__wrapper {
    display: flex;
    flex-direction: column;
  }

  .cv__name {
    text-align: center;
    margin-bottom: 1.4em;
    font-size: 1.3em;
    letter-spacing: 0.09em;
  }

  .cv__photo {
    width: 35%;
    display: flex;
    margin: 0 auto;
    margin-bottom: 1.3em;

    & img {
      margin: 0 auto;
    }
  }

  .cv__section-title {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0.1em 0.9em;
    background: linear-gradient(#6b5e80, $purple);
    border-radius: 1.3em;
    color: $white;
    font-weight: 400;
    font-size: 1.1em;

    & .cv__section-arrow {
      margin-left: 0.6em;
    }

    & .cv__section-arrow fa-icon {
      color: $white;
      font-size: 1.7em;
    }
  }

  .cv__section-title--desktop {
    display: none;
  }

  .cv-item__data {
    color: $default-font-color;
    text-decoration: none;
    font-size: 1em;
    line-height: 1.5em;

    & span {
      margin-right: 0.5em;
    }
  }

  .work-permit__list {
    padding-top: 0.3em;
  }

  .cv__data {
    line-height: 1.7em;
    color: $default-font-color;
    text-decoration: none;
  }

  .cv__section-arrow {
    padding: 0.6em 0;
  }

  .cv__section {
    padding: 2em 3vw;
  }

  .cv__section--expandable {
    padding: 0.5em 3vw;
  }

  .cv__section--general {
    background-color: $bg-color;
  }

  .cv-item--toggle {
    display: none;
    flex-direction: column;
    padding: 1em 5vw;
  }

  .cv-item__title {
    margin: 0;
    font-size: 1.13em;
    letter-spacing: 0.03em;
  }

  .cv-item__data {
    margin: 0;
    line-height: 1.7em;
    font-size: 1.1em;
  }

  .cv-item {
    margin-bottom: 0.5em;
  }

  .cv-skills__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.35em 0.7em;
  }

  .cv-skills__skill {
    display: flex;
    align-items: center;
    padding: 0.3em;
    background-color: $bg-color;
    border-radius: 0.1em;
  }

  .work-permit__item {
    margin-left: 0.1em;
    padding-left: 0.7em;
    position: relative;

    &::before {
      position: absolute;
      padding: 0.1em;
      top: 0.7em;
      left: 0;
      content: "";
      display: inline-block;
      width: 0.18em;
      height: 0.18em;
      border-radius: 50%;
      background-color: $red;
    }
  }

  .cv-education__year {
    margin: 0;
    margin-bottom: 0.5em;
    font-size: 1.12em;
    font-weight: 500;
  }

  .cv-education__school {
    margin: 0;
    margin-bottom: 0.5em;
    font-size: 1.1em;
  }

  .cv-education__specialty {
    margin: 0;
    font-size: 0.9em;
    line-height: 1.2em;
  }

  .cv-work:not(:last-child),
  .cv-courses:not(:last-child) {
    margin-bottom: 1.7em;
  }

  .cv-work__year,
  .cv-courses__year{
    margin: 0;
    margin-bottom: 0.5em;
    font-size: 0.9em;
    color: $shadow-grey;
  }

  .cv-work__company,
  .cv-courses__school {
    margin: 0;
    margin-bottom: 0.3em;
    font-weight: 500;
    font-size: 1.12em;
  }

  .cv-work__title {
    margin: 0;
    margin-bottom: 0.3em;
    font-size: 1.1em;
  }

  .cv-work__decription {
    margin: 0;
    font-style: italic;
    font-size: 0.9em;
    line-height: 1.6em;
  }

  .cv-courses__specialty {
    margin: 0;
    font-size: 1em;
    line-height: 1.5em;
  }

}

@media (min-width: 992px) {
  .cv__name {
    width: 100%;
    font-size: 1.4em;
    margin-bottom: 2em;
  }

  .cv__wrapper {
    flex-direction: row;
    padding: 0 4em;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .cv-item--toggle {
    display: flex;
  }

  .cv__section {
    position: relative;
    width: 100%;
    margin-bottom: 4.5em;
    padding: 1.5em 0 0 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 0.03em solid $purple;
    box-shadow: $shadow;
    border-radius: 0.5em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .cv__photo-wrapper {
    width: 48%;
    display: flex;
  }

  .cv__photo {
    width: 40%;
    height: auto;
    margin: 0 2.5em 4em auto;
  }

  .cv__section--general {
    padding: 1.7em 0 0 2.5em;
    width: 48%;
    background-color: transparent;
    border: none;
  }

  .cv__section-title--desktop {
    position: absolute;
    top: -0.69em;
    left: 45%;
    display: inline-block;
    margin-bottom: 0.5em;
    background: #ffffff;
    color: $default-font-color;
    font-size: 1.2em;
    font-weight: 500;
    align-self: center;
  }

  .cv__section-title--mobile {
    display: none;
  }
}

