<header class="page-header">
  <nav class="page-header__nav main-nav">
    <a class="main-nav__logo">VE</a>
    <div appTransformBurgerBtn (click)="toggleMenu()" class="btn main-nav__btn">
      <span class="visually-hidden">Close</span>
      <span #firstBtnLine class="main-nav__btn-element"></span>
      <span class="main-nav__btn-element"></span>
      <span class="main-nav__btn-element"></span>
    </div>
    <ul #siteList class="main-nav__list site-list">
      <li class="site-list__item" *ngFor="let option of menuOptions">
        <a class="site-list__link">{{option}}</a>
      </li>
    </ul>
  </nav>
</header>
