@import "../../assets/styles/variables";

@keyframes showMenu {
  0% {
    transform: translateY(-100%);
  }

  60% {
    transform: translateY(0);
  }

  80% {
    transform: translateY(-10%);
  }

  100% {
    transform: translateY(0);
  }
}

@media (min-width:320px) {
  .page-header {
    width: 100%;
    padding: 0.6em 3.7%;
    box-sizing: border-box;
    background: transparent;
    box-shadow: 0 0 0.05em $shadow-grey;
  }

  .main-nav {
    width: 100%;
    min-height: 1.8em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
  }

  .main-nav__logo {
    position: relative;
    font-family: Montserrat, sans-serif;
    font-size: 1.7em;
    color: $default-font-color;
    letter-spacing: 0.23em;

    & span {
      position: absolute;
      display: inline-block;
      top: 20.93%;
      left: 42%;
      width: 0.09em;
      height: 0.79em;
      border-radius: 0.06em;
      background-color: $red;
      transform: rotate(22.3deg);
    }
  }

  .site-list {
    display: none;
    width: 100%;
    padding: 1.2em 0;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    box-sizing: border-box;

  }

  .site-list--visible {
    display: flex;
    animation-name: showMenu;
    animation-duration: 800ms;
  }

  .site-list__item {
    padding: 0.8em 0;
    cursor: pointer;
  }

  .site-list__link {
    font-size: 1.2em;
    color: $default-font-color;
    text-decoration: none;
  }

  .main-nav__btn {
    position: relative;
    padding: 0;
    width: 2.5em;
    height: 1.7em;
    display: grid;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
  }

  .main-nav__btn-element {
    width: 2.3em;
    height: 0.14em;
    background-color: $red;
    border-radius: 0.2em;
    transition: all 100ms ease-in-out;
  }

  .cross-first-line,
  .cross-second-line {
    position: absolute;
    top: 0.8em;
    left: 0;
    width: 1.8em;
    height: 0.15em;
  }

  .cross-first-line {
    transform: rotate(45deg);
  }

  .cross-second-line {
    transform: rotate(-45deg);
  }
}
