<header class="page-header">
  <nav class="page-header__nav main-nav">
    <a class="main-nav__logo">V<span></span>E</a>
    <div #burgerBtn (click)="toggleMenu()" class="btn main-nav__btn">
      <span class="visually-hidden">Close</span>
      <span #lineToHide class="main-nav__btn-element"></span>
      <span #firstLine class="main-nav__btn-element"></span>
      <span #secondLine class="main-nav__btn-element"></span>
    </div>
    <ul #siteList class="main-nav__list site-list">
      <li class="site-list__item">
        <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" class="site-list__link">Home</a>
      </li>
      <li class="site-list__item">
        <a routerLink="about" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" class="site-list__link">About me</a>
      </li>
      <li class="site-list__item">
        <a routerLink="cv" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" class="site-list__link">My CV</a>
      </li>
      <li class="site-list__item">
        <a routerLink="portfolio" routerLinkActive="active-link" class="site-list__link">Portfolio</a>
      </li>
      <li class="site-list__item">
        <a routerLink="contacts" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" class="site-list__link">Contact</a>
      </li>
    </ul>
  </nav>
</header>
