<section class="about-me">
  <h2 class="section-title">About me</h2>
  <div class="section-wrapper">
    <div class="about-me__text about-me__intro">This section starts with my journey as a frontend developer, if you are interested in
      some personal info about me, please <span (click)="scroll(personal)">scroll down</span>.</div>
    <img class="about-me__img" src="../../assets/img/IMG_1515.png" alt="me">
    <p class="about-me__text">
      Hello! I am Victoria and I am a javascript developer with great passion for frontend technologies.
    </p>
    <p class="about-me__text">
      I started my journey with programming in 2017, just got interested in web development and decided to try and
      create my first web page. It was fun and so exiting that I decided to participate in a couple of online courses,
      where I learned more about html, bem methodology, css and helpful tools for creating simple or even more
      complicated web pages, learned about responsive websites and started to become more and more interested in
      javascript.
    </p>
    <p class="about-me__text">
      These were my first steps in frontend development. Back then, I wasn't even sure where it
      would lead me. All I knew, is that not only I was interested in creating a website, but I also wanted to learn
      more about how to make this website more accessible, so that everyone can use it (you know, every single user
      matters :)).
    </p>
    <p class="about-me__text">
      As I lived in a foreign country (and still do), I understood that finding a job here, in Poland, wouldn't be easy,
      especially as I had no experience with commercial projects. So I decided to start a course in Codecool.
    </p>
    <div class="about-me__skillset skills">
      <h3 class="visually-hidden">My main specialties</h3>
      <ul class="skills__list">
        <li class="skills__item">
          <img src="../../assets/img/tech-icons/angular.png" alt="angular">
        </li>
        <li class="skills__item">
          <img src="../../assets/img/tech-icons/trio.png" alt="html/css">
        </li>
        <li class="skills__item">
          <img src="../../assets/img/tech-icons/postgres.png" alt="postgres">
        </li>
        <li class="skills__item">
          <img src="../../assets/img/tech-icons/nodejs.png" alt="node.js">
        </li>
        <li class="skills__item">
          <img src="../../assets/img/tech-icons/mongo.png" alt="mongoDb">
        </li>
        <li class="skills__item skills__item--tablet">
          <img src="../../assets/img/tech-icons/bootstrap.png" alt="bootstrap">
        </li>
        <li class="skills__item skills__item--tablet-pro">
          <img src="../../assets/img/tech-icons/sass.png" alt="sass">
        </li>
        <li class="skills__item skills__item--desktop">
          <img src="../../assets/img/tech-icons/nginx.png" alt="nginx">
        </li>
        <li class="skills__item skills__item--desktop">
          <img src="../../assets/img/tech-icons/java.png" alt="java">
        </li>
      </ul>
    </div>
    <p class="about-me__text">
      In the past year which I spent in Codecool, I studied Python and wrote in it some projects, also I started to
      become interested in clean code and how to properly use its techniques in my projects. Got familiar with Java
      and really loved it, as well as OOP (which really changed my way of thinking and coding). While I was creating
      projects in java (with great pleasure), I also learned how to use databases such as SqLite and PostgreSQL.
      Got more advanced knowledge in javascript, css and node.js. Learned how to make frontend and backend work together
      in one project, how to host my website on web servers, such as Nginx and Apache. Learned how to send http requests
      and manage them. I also wrote some projects in express.js, using firebase, html templates and MongoDB.
    </p>
    <p class="about-me__text">
      Before codecool I started to learn React, but during the course I decided to switch to Angular. Recently I started to develop
      more advanced project, where I could use my Angular knowledge and more advanced javascript features.
    </p>
    <p class="about-me__text">
      One of the most important things that I learned, besides programming skills, is how to work in a team, how to
      properly plan projects and maintain them. During my journey I made a lot of mistakes and learned a lot from them,
      fell in love with some technologies and looking forward to getting to know them better, as well as learn knew
      things.
    </p>
    <p #personal class="about-me__text">
      Now, let me tell me more personal things about me. I like animals, I have two cats at home, who travelled with me
      from Russia. Also, I currently have a bunny, who, unfortunately, hadn't have any proper home yet and we offered
      it (maybe temporally, maybe not).
    </p>
    <p class="about-me__text">
      I like hiking, learned that after moving to Poland, great places and views :) Recently bought a bike and now I
      can explore even more amazing places in Cracow or nearby.
    </p>
    <p class="about-me__text">
      At home usually I usually prefer to watch TV shows (usually Netflix), code or read books.
      Recently started to play guitar and it helps me to ease my mind after a long day of studying and coding.
    </p>
    <p class="about-me__text">
      I can't fit here all the things I enjoy or am passionate about, so I hope we will have a chance to meet in person
      and chat :)
    </p>
  </div>
</section>
