<section class="contacts">
  <h2 class="section-title contacts__title">Ways to reach out to me</h2>
  <div class="contacts__item contact-item">
    <h3 class="contact-item__title">Email me</h3>
    <a href="mailto:evictoria@protonmail.com" class="contact-item__data">evictoria@protonmail.com</a>
  </div>
  <div class="contacts__item contact-item">
    <h3 class="contact-item__title">Or call me</h3>
    <a href="tel:+48790610316" class="contact-item__data">+48 790 610 316</a>
  </div>
  <ul class="contacts__item contacts__social-media contact-sm">
    <h3 class="contact-item__title">Social media</h3>
    <li class="contact-sm__item">
      <a href="https://github.com/e-victoria" class="contact-sm__link">
        <span>
          <fa-icon [icon]="faGithub"></fa-icon>
      </span>
      </a>
    </li>
    <li class="contact-sm__item">
      <a href="https://www.facebook.com/viktoria.krohina" class="contact-sm__link">
        <span>
          <fa-icon [icon]="faFacebook"></fa-icon>
      </span>
      </a>
    </li>
    <li class="contact-sm__item">
      <a href="https://www.linkedin.com/in/victoria-eremeeva-93a34316a/" class="contact-sm__link">
        <span>
          <fa-icon [icon]="faLinkedin"></fa-icon>
      </span>
      </a>
    </li>
  </ul>
</section>
