<section class="portfolio">
  <h2 class="section-title">My portfolio</h2>
  <p class="portfolio__description">* projects are listed here from recent to old ones.</p>
  <ul class="portfolio__list">
    <li class="portfolio__item portfolio-item">
      <div class="portfolio-item__info">
        <h3 class="portfolio-item__title">Virtual Stylist</h3>
        <p class="portfolio-item__description">Virtual Stylist is a service, where you can store your virtual wardrobe
          and see how your clothes match together.</p>
      </div>
      <div class="portfolio-item__img-wrapper">
        <img src="../../assets/img/virtual-stylist/vs-wardrobe.png" alt="project preview">
      </div>
    </li>
    <li class="portfolio__item portfolio-item">
      <div class="portfolio-item__info">
        <h3 class="portfolio-item__title">Quest Store</h3>
        <p class="portfolio-item__description">It's a service for managing students achievements. Students can earn
          coins for completing specific challenges and spend it on available cards.</p>
      </div>
      <div class="portfolio-item__img-wrapper">
        <img src="../../assets/img/queststore/cards.png" alt="project preview">
      </div>
    </li>
  </ul>
</section>
