<section class="portfolio">
  <h2 class="section-title">My portfolio</h2>
  <p class="portfolio__description">* projects are listed here from recent to old ones.</p>
  <ul class="portfolio__list">
    <li class="portfolio__item portfolio-item" *ngFor="let project of (projects$ | async)">
      <div class="portfolio-item__info">
        <h3 class="portfolio-item__title">{{project.title}}</h3>
        <p class="portfolio-item__description">{{project.summary}}</p>
      </div>
      <div class="portfolio-item__img-wrapper">
        <img src="../../assets/img/{{project.main_image}}" alt="project preview">
      </div>
    </li>
  </ul>
</section>
