<section class="portfolio">
  <h2 class="section-title">My portfolio</h2>
  <p class="portfolio__description">* projects are listed here from recent to old ones.</p>
  <ul class="portfolio__list">
    <li class="portfolio__item portfolio-item">
        <div class="portfolio-item__info">
          <h3 class="portfolio-item__title">Virtual Stylist</h3>
          <p class="portfolio-item__description">Virtual stylist is a project where you can see all the clothes you have in your wardrobe as well as see how they match together</p>
        </div>
        <div class="portfolio-item__img-wrapper">
          <img src="../../assets/img/virtual-stylist/new-style.png" alt="project preview">
        </div>
    </li>
  </ul>
</section>
