@import "../../assets/styles/variables";

@keyframes slide {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0);
  }
}

@media (min-width:320px) {
  .home {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .home__title {
    margin: 0;
    margin-bottom: 1.5em;
    padding: 2em 3.5vw;
    font-size: 1.15em;
    letter-spacing: 0.02em;
    font-weight: 400;
    color: darken($default-font-color, 2%);
    min-height: 16em;
    background-image: url("../../assets/img/code-coding-computer-data-574070 (1).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    backdrop-filter: blur(0.55em);
    box-shadow:inset 0 0 0 2000px rgba(250, 240, 230, 0.35);

    & span {
      display: inline-block;
      color: darken($default-font-color, 1%);
      margin-bottom: 1em;
      font-size: 1.4em;
      font-weight: 500;
    }
  }

  .home__intro-wrapper {
    padding: 3.5em 6vw;
    background-color: $bg-color;
  }

  .home__intro-text {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-weight: 400;
    font-style: italic;
    font-size: 1em;
    align-items: flex-end;

    & q {
      width: 100%;
      align-self: flex-start;
      margin-bottom: 0.1em;
      font-weight: 500;
      font-size: 1.1em;
      font-style: normal;
    }
  }
}

@media (min-width: 576px) {
  .home__title {
    padding-top: 5em;
    min-height: 17em;
    background-position: center;
  }
}

@media (min-width: 1200px) {
  .home__title {
    padding-top: 4em;
    font-size: 1.4em;
    min-height: calc(100vh - 8.5em);

    & span {
      font-size: 1.7em;
      margin-bottom: 0.5em;
    }
  }

  .home__intro-wrapper {
    padding: 2em;
    animation: slide;
    animation-duration: 1s;
    position: absolute;
    right: 3em;
    bottom: 4.5em;
    border-radius: 0.7em;
    background-color: rgba(250, 240, 230, 0.35);
  }

  .home__intro-text {
    font-size: 1.2em;
    color: darken($default-font-color, 2%)

    & q {
      font-size: 1.3em;
    }
  }
}

